<div class="container">
  <div class="row">
    <div *ngFor="let story of stories | async" class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a id="article-title" href="{{ story.url }}">{{ story.title }}</a>
          </h5>
          <div>
            <span class="card-subtitle mb-2">Score: {{ story.vote }}</span>
            <button [disabled]="story.isUpVoted" id="vote upVote" (click)="upVote(story.id)" class="btn card-link"
              ><div id="Uvote">( ͡° ͜ʖ ͡°)</div></button>
            <button [disabled]="story.isDownVoted"
              id="vote downVote"
              (click)="downVote(story.id)"
              class="btn card-link">
              <div id="Dvote">( ‾ ʖ̫ ‾)</div></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
