.container-fluid {
    margin: 100px 25px;
    padding-left: 4vw;
    padding-right: 4vw;
}
.card {
    border: 1px solid #242424;
    height: 150px;
    margin-bottom: 20px;
}

span {
    margin-right: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#article-title {
    color: #242424;
    font-weight: 600;
    text-decoration: underline;
}

#article-title:hover {
    padding-left: 5px;
    padding-right: 5px;
    color: aliceblue;
    border-radius: 2px;
    text-decoration: none;
    background-color: #242424;
}

span {
    background-color: #242424;
    color: aliceblue;
    padding: 9px 4px 11px 4px;
    border-radius: 3px;
}

button {
    border: 1px solid #242424;
    margin-right: 0;
}

button:hover {
    background-color: grey;;
    color: aliceblue;
}

.isVoted {
    background-color: darkcyan;
    color: white;
    border-color: black;
}

.buttons {
    margin: 4px, 4px; 
    padding: 4px; 
    width: 300px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    margin: 0 auto;
}